{% extends "home/base.html" %}
{% load static %}

{% block title %}
Article | {{ article.title }}
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home/css/index.css' %}">

<style>
    body {
        background-color: #090909;
        color: white;
    }

    .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        justify-content: flex-start;
    }

    .container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        padding-top: 8%;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: block;
    }

    .responsive-cell-block {
        min-height: 75px;
    }

    .container {
        max-width: 1380px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
    }



    .card {
        background-color: #171A1FFF;
        color: white;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        width: 95%;
        min-height: 30vh;
        max-height: 30vh;
    }

    .card img {
        width: 50%;
        max-width: 50%;
        height: 25vh;
        max-height: 25vh;
        object-fit: cover;
        border-radius: 5px;
        margin-left: 15px;
    }

    .card-body {
        padding: 5px;
        flex: 1;
    }

    .btn-custom {
        background-color: transparent;
        border: 1px solid rgb(44, 212, 18);
        color: rgb(53, 165, 35);
        padding: 5px 12px;
        border-radius: 6px;
        font-size: 14px;
        transition: 0.3s;
    }

    .btn-custom:hover {
        background-color: rgb(44, 212, 18);
        color: white;
    }

    .date {
        color: #999;
        font-size: 0.9em;
    }

    @media (max-width: 768px) {
        .container {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 15%;
        }
    }

</style>

<style>
    .blur-overlay {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>

{% endblock %}

{% block body %}

<div class="container-block container">
    <div class="container mt-2">
        <h2 class="article-title">{{ article.title }}</h2>

        {% if user.is_authenticated %}
        <div class="article-content">{{ article.content|safe }}</div>
        {% else %}
        <div class="article-preview">
            <div class="preview-text">
                {{ preview_content|safe }}
            </div>
            <div class="blur-overlay">
                <h5 class="mx-2">Interesting?</h5>
                <a class="btn btn-outline-success" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                <span class="mx-1">OR</span>
                <a class="btn btn-outline-warning" href="{% url 'register' %}?next={{ request.path }}">Signup</a>
                <span class="mx-2">to read further...</span>
            </div>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}