{% extends "home/base.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home/css/index.css' %}">
{% endblock %}

{% block body %}

<section class="section top-section">
    <div class="content-container content-theme-dark">
        <div class="content-inner">
            <br><br><br><br><br><br><br><br><br><br>

            <h2>Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit">Reset Password</button>
            </form>

        </div>
    </div>
</section>


{% endblock %}