{% extends "administration/base.html" %}
{% load static %}

{% block title %}
Edit Question
{% endblock %}

{% block problem_active %}
active
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-0">Edit Question</i> </h5>

        </div>
        <div class="container px-4">
            <form method="POST">
                {% csrf_token %}

                <hr class="mt-0">
                <div class="row">

                    <div class="w-100">

                        <div class="card">
                            <div class="card-header">Sheet</div>
                            <div class="card-body h-100">

                                <div>
                                    <div class="mb-3">
                                        <label for="assignment_type" class="form-label">Difficulty Level
                                            <div class="star">*</div>
                                        </label>
                                        <select class="form-select form-control" name="sheet" id="assignment_type"
                                            multiple>

                                            {% for sheet in sheets %}

                                            <option value="{{ sheet.id }}">{{ sheet.name }}</option>

                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                                <div>
                                    <div class="mb-3">
                                        <label for="job_title" class="form-label">Title
                                            <div class="star">*</div>
                                        </label>
                                        <input type="text" class="form-control" id="job_title" name="title"
                                            value="{{ question.title }}" required>
                                    </div>
                                </div>

                                <div>
                                    <div class="mb-3">
                                        <label for="job_title" class="form-label">Description
                                            <div class="star">*</div>
                                        </label>
                                        <textarea class="form-control" id="job_title" name="description" rows="10"
                                            required>{{ question.description }}</textarea>
                                        <!-- <iframe frameBorder="0" height="450px"
                                            src="https://onecompiler.com/embed/html?theme=dark" width="100%"></iframe> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="assignment_type" class="form-label">Difficulty Level
                                                <div class="star">*</div>
                                            </label>
                                            <select class="form-select form-control" name="difficulty_level"
                                                id="assignment_type" required>
                                                <!-- <option value="" selected disabled>Select Level</option> -->
                                                <option value="Easy">Easy</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Hard">Hard</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="job_title" class="form-label">Position
                                                <div class="star">*</div>
                                            </label>
                                            <input type="number" class="form-control" id="job_title" name="position"
                                                value="{{ question.position }}" required>

                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <div>

                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="job_type" class="form-label">For & By</label>
                                            <input type="text" class="form-control" id="job_type"
                                                value="{{ course.name|title }} by {{ instructor.first_name }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="deadline" class="form-label">Created At</label>
                                            <input type="text" class="form-control" id="deadline"
                                                value="{% now 'l, F j, Y g:i A' %}" disabled>
                                        </div>
                                    </div>
                                </div> -->

                                <div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success w-100 mt-3">Edit &nbsp;
                                            Question</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
        </div>





        </form>

    </div>
</div>

{% endblock %}