{% extends "administration/base.html" %}
{% load static %}

{% block title %}
Test Cases🔥
{% endblock %}

{% block problem_active %}
active
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3 class="heading">
                <span class="fw-semibold">Test Cases for {{ question.title }}</span>
                <span class="fs-4"> | 🔥Total: {{ test_cases.count }}🔥</span>
            </h3>
        </div>
        <a href="{% url 'add_test_case' question.slug %}" class="btn btn-outline-primary button mt-n3 mx-4 m-3">Add Test
            Case</a>
    </div>

    {% for message in messages %}

    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message.tag }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    <!-- ========================== SEARCH BAR ==================================== -->

    <!-- <div class="card w-100">
        <div class="card-body p-4">
            <form method="post">

                {% csrf_token %}

                <div class="input-group">

                    {% if query %}

                    <input type="text" class="form-control" placeholder="Search by ID, Topic or Course"
                        aria-label="Search by Topic or Id" aria-describedby="button-addon2" name="query" value="{{ query }}">

                        {% else %}

                        <input type="text" class="form-control" placeholder="Search by ID, Topic or Course"
                        aria-label="Search by Topic or Id" aria-describedby="button-addon2" name="query">

                        {% endif %}

                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    <a href="#" class="btn btn-outline-danger">Clear</a>
                </div>
            </form>
        </div>
    </div> -->

    <!-- ================================= SESSIONS TABLE ================================== -->

    <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Questions 🔥
                {% if query %}
                <span class="fs-6"> | Search Results for "{{ query }}"</span>
                {% endif %}
            </h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class=" fs-4">

                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    #
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Input
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Expected
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Sample
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Action#1
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Action#2
                                </h6>
                            </th>



                        </tr>
                    </thead>

                    <tbody>

                        {% for test_case in test_cases %}

                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6>
                            </td>
                            <td class="border-bottom-0">

                                {% if test_case.input_data %}

                                <h6 class="fw-semibold mb-1" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="{{ test_case.input_data }}">{{ test_case.input_data|truncatechars:10 }}</h6>

                                {% else %}

                                <h6 class="fw-semibold mb-1" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="{{ question.title }}">No Input Data</h6>

                                {% endif %}

                            </td>

                            <td class="border-bottom-0">
                                <p class="fw-semibold mb-0">
                                    <button class="btn btn-sm btn-dark fw-semibold mb-1 text-wrap"
                                        data-bs-toggle="modal" data-bs-target="#questionModal" style="width: 50%;"
                                        data-title="{{ test_case.input_data }}"
                                        data-description="{{ test_case.expected_output|linebreaksbr }}"
                                        title="{{ test_case.input_data }}">View</button>
                                </p>
                            </td>

                            <td class="border-bottom-0">
                                <p class="fw-semibold mb-0">
                                    {% if test_case.is_sample %}
                                    <span class="badge bg-success">Yes</span>
                                    {% else %}
                                    <span class="badge bg-danger">No</span>
                                    {% endif %}
                                </p>
                            </td>

                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <a href="{% url 'edit_test_case' test_case.id %}"
                                        class="btn btn-outline-secondary float-end">Modify</a>
                                </div>
                            </td>


                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <a href="{% url 'delete_test_case' test_case.id %}" class="btn btn-danger float-end"
                                        onclick="return confirm('Pakka delete krna h soch le ek baar or!!!');">Delete</a>

                                </div>
                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    {% autoescape off %}
    <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-semibold" id="questionModalLabel">Question Title...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="questionDescription">Description...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {% endautoescape %}


</div>

<!-- Script to dynamically set modal content -->
<script>
    var questionModal = document.getElementById('questionModal');
    questionModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var title = button.getAttribute('data-title'); // Extract info from data-* attributes
        var description = button.getAttribute('data-description');

        // Update the modal's content.
        var modalTitle = questionModal.querySelector('.modal-title');
        var modalBody = questionModal.querySelector('.modal-body p');

        modalTitle.textContent = title;
        modalBody.innerHTML = description;
    });
</script>

{% endblock %}