{% extends "instructor/base.html" %}
{% load static %}

{% block title %}
JOVAC | {{ course.name }}
{% endblock %}

{% block jovac_active %} 
active
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3 class="heading">
                <span class="fw-semibold">{{ course.name }}🔥</span>
                <span class="fs-4"> | 🔥By:
                    {{ course.get_instructor_names }}
                    🔥</span>
            </h3>
        </div>
        <div class="row mt-n3">

            <div class="col-md-3 mx-auto">
                <a href="{% url 'instructor_add_jovac_sheet' course.slug %}"
                    class="btn btn-outline-success button mt-n2 mb-3 w-100 ">Add Sheet</a>
            </div>

            <div class="col-md-3 mx-auto">
                <a href="{% url 'instructor_jovac_enrollment_requests' course.slug %}"
                    class="btn btn-outline-secondary button mt-n2 mb-3 w-100 ">Enrollment Requests</a>
            </div>
        </div>

    </div>

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message.tag }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- ================================= SESSIONS TABLE ================================== -->

 <div class="row row-cols-1 row-cols-md-3 g-4 mt-4" id="sheets-container">

        {% for sheet in course_sheets %}
        <div class="col-md-3">

            <div class="card">

                <!-- Thumbnail with lazy loading -->
                <a href="{% url 'instructor_jovac_sheet' course.slug sheet.slug %}">
                    <img 
                        src="{{ sheet.thumbnail.url }}" 
                        class="card-img-top lazy-load" 
                        alt="${sheet.name}">
                </a>

                <div class="card-body">
                    <h5 class="card-title">{{ sheet.name }}🔥</h5>

                    <!-- <p class="ca   rd-text mb-1">Total Assignments: {{ course.get_total_assignments }}</p> -->

                    {% if sheet.is_enabled %}
                    <span class="badge bg-success">
                        Enabled
                    </span>

                    {% else %}
                    <span class="badge bg-danger">
                        Disabled
                    </span>
                    {% endif %}

                    <a href="{% url 'instructor_jovac_sheet' course.slug sheet.slug %}"
                        class="btn btn-outline-secondary w-100 mt-2">View
                        More</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>


</div>



{% endblock %}