{% extends "instructor/base.html" %}
{% load static %}

{% block sheet_active %}
active
{% endblock %}

{% block title %}
Driver Code | {{ question.title }}
{% endblock %}

{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    h3.question {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        text-align: center;
        font-weight: 100;
    }

    .editor-container {
        width: 100%;
        height: 60vh;
        margin: 20px auto;
        position: relative;
    }

    #editor-visible,
    #editor-complete {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        font-size: 20px;
    }

    #language,
    option {
        color: rgb(19, 19, 19);
    }

    [data-bs-theme="dark"] {
        #language {
            color: white;
        }

        option {
            color: black;
        }

        #op-div {
            color: white;
        }
    }
</style>


{% endblock %}


{% block body %}

<div class="container-fluid">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pe-auto">{{ question.title }}</li>

            </li>
            <li class="breadcrumb-item active" aria-current="page">Driver Code</li>
        </ol>
    </nav>



    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message.tag }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold">Driver Code for {{ question.title }}</h5>
        </div>
    </div>

    <div class="card w-100">

        <div class="mb-3 mt-2 mx-3">
            <span>Already Set For </span>
            <span id="language-buttons"></span>

            <a href="{% url 'instructor_test_code' question.slug %}" class="btn btn-info float-end mx-3">TEST CODE NOW</a>
        </div>

        <div class="card-body p-4">
            <form method="post">

                {% csrf_token %}

                <label for="language">Select Language:</label>
                <select class="form-select form-control" id="language" name="language" required>
                    <option value="62">Java</option>
                    <option value="71">Python</option>
                    <option value="50">C</option>
                    <option value="54">C++</option>
                </select>

                <!-- Toggle Switch for Admin -->
                <div class="badge bg-dark d-inline-flex float-end m-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input " type="checkbox" id="toggleCompleteCode">
                        <label class="form-check-label text-success mt-1" for="toggleCompleteCode">Show Complete Driver
                            Code</label>
                    </div>
                </div>



                <label for="visible_code" class="mt-3 mb-n2">Visible Driver Code:</label><br>
                <div class="editor-container">
                    <div id="editor-visible"></div>
                </div>

                <label for="complete_code" class="mt-3 mb-n2">Complete Driver Code:</label><br>
                <div class="editor-container">
                    <div id="editor-complete"></div>
                </div>

                <button type="submit" class="btn btn-dark w-100" id="driver-code-submit-btn">Submit Driver Code</button>
            </form>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ext-language_tools.js"></script>

<script>
    $(document).ready(function () {

        // =================== SHOW COMPLETE DRIVER CODE SWITCH ===================

        const submitBtn = document.getElementById("driver-code-submit-btn");

        const toggleCompleteCode = document.getElementById("toggleCompleteCode");
        const showCompleteCode = "{{ question.show_complete_driver_code }}";
        if (showCompleteCode == "True") {
            toggleCompleteCode.checked = true;
        } else {
            toggleCompleteCode.checked = false;
        }

        // ========================== ACE EDITOR =================================

        const editorVisible = ace.edit("editor-visible");
        const editorComplete = ace.edit("editor-complete");

        // Set default code for each language
        var driverCodes = JSON.parse('{{ driver_codes|escapejs }}');

        // Language Mapping
        const languageMap = {
            71: { name: "Python", class: "btn-outline-primary" },
            50: { name: "C", class: "btn-outline-warning" },
            54: { name: "C++", class: "btn-outline-info" },
            62: { name: "Java", class: "btn-outline-success" }
        };

        const languageButtonsContainer = $("#language-buttons");

        // Clear existing content
        languageButtonsContainer.html("");

        // Loop through driver codes and create buttons dynamically
        Object.keys(driverCodes).forEach(driver_code => {
            if (languageMap[driver_code]) {
                const { name, class: btnClass } = languageMap[driver_code];
                const button = `<button class="btn btn-sm mx-1 ${btnClass}">${name}</button>`;
                languageButtonsContainer.append(button);
            }
        });


        // Set initial code based on selected language
        function setEditorContent(languageId) {
            const defaultCodes = {
                71: `# DEFULT CODE... THIS CODE IS NOT SET YET\n\n\ndef solution(n):\n\t# Write your code here...\n\n\n# DO NOT MAKE CHANGES IN THIS\nif __name__ == '__main__':\n\tt = int(input())\n\t\n\twhile t > 0:\n\t\t# Modify according to the inputs\n\t\tn = int(input())\n\t\tresult = solution(n)\n\t\tprint(result)\n\t\tt -= 1`,

                50: `// DEFULT CODE... THIS CODE IS NOT SET YET\n\n\n#include <stdio.h>\n\n// Write the function here...\nvoid solution(int n) {\n\t// Your code here...\n}\n\n// Driver code starts here... DO NOT CHANGE THIS\nint main() {\n\tint t;\n\tscanf("%d", &t);\n\t\n\twhile (t-- > 0) {\n\t\tint n;\n\tscanf("%d", &n);\n\t\t\n\t\t// Make changes accordingly\n\t\tsolution(n);\n\t}\n\t\n\treturn 0;\n}`,

                54: `// Set the driver code now`,

                62: `// DEFULT CODE... THIS CODE IS NOT SET YET\n\n\nimport java.io.*;\nimport java.util.*;\n\nclass Solution {\n\t// Write the function here...\n}\n\n\n// Driver code starts here... DO NOT CHANGE THIS\nclass Main {\n\tpublic static void main(String args[]) throws IOException {\n\t\tBufferedReader read = new BufferedReader(new InputStreamReader(System.in));\n\t\tint t = Integer.parseInt(read.readLine());\n\t\twhile (t-- > 0) {\n\t\t\tint n = Integer.parseInt(read.readLine().trim());\n\n\t\t\tSolution ob = new Solution();\n\t\t\t\n\t\t\t// Make changes accordingly\n\t\t\tSystem.out.println();\n\t\t}\n\t}\n}`
            };

            // Get the driver code if available, else fallback to default
            const visibleCode = driverCodes[languageId]?.visible || defaultCodes[languageId] || "// Default Code";
            const completeCode = driverCodes[languageId]?.complete || defaultCodes[languageId] || "// Default Code";

            // Set the editor content
            editorVisible.setValue(visibleCode, -1);
            editorComplete.setValue(completeCode, -1);
        }



        let theme = localStorage.getItem("theme");
        if (theme == "dark") {
            editorVisible.setTheme("ace/theme/twilight");
            editorComplete.setTheme("ace/theme/twilight");
        } else {
            editorVisible.setTheme("ace/theme/chrome");
            editorComplete.setTheme("ace/theme/chrome");
        }

        let selectedLanguage = $("#language").val();

        editorVisible.session.setMode("ace/mode/java");
        editorComplete.session.setMode("ace/mode/java");
        editorVisible.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true,
            cursorStyle: "smooth",
            enableEmmet: true,
        });
        editorComplete.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true,
            cursorStyle: "smooth",
            enableEmmet: true,
        });

        // Change the editor mode based on selected language
        $("#language").change(function () {
            let selectedLanguage = $(this).val();
            if (selectedLanguage == 71) {
                editorVisible.session.setMode("ace/mode/python");
                editorComplete.session.setMode("ace/mode/python");
            } else if (selectedLanguage == 50 || selectedLanguage == 54) {
                editorVisible.session.setMode("ace/mode/c_cpp");
                editorComplete.session.setMode("ace/mode/c_cpp");
            } else if (selectedLanguage == 62) {
                editorVisible.session.setMode("ace/mode/java");
                editorComplete.session.setMode("ace/mode/java");
            }
        });

        // Initialize editor with default content for selected language
        let initialLanguageId = $("#language").val();
        setEditorContent(initialLanguageId);

        // Change the editor content when the language is changed
        $("#language").change(function () {
            let selectedLanguageId = $(this).val();
            setEditorContent(selectedLanguageId);
        });

        // Flag to prevent multiple submissions
        let isSubmitting = false;

        // Form submission logic
        $("form").submit(function (event) {

            submitBtn.disabled = true; // Disable the submit button
            submitBtn.innerHTML = "Submitting..."; // Change the submit button text

            if (isSubmitting) {
                return false;  // If already submitting, exit and prevent further submissions
            }

            event.preventDefault(); // Prevent default form submission

            isSubmitting = true;  // Set the flag to true, indicating form is being submitted

            const languageId = $("#language").val();
            const visibleDriverCode = editorVisible.getValue();
            const completeDriverCode = editorComplete.getValue();
            const showCompleteCode = $("#toggleCompleteCode").is(":checked");  // Get checkbox value


            $.ajax({
                url: "{% url 'driver_code' slug=question.slug %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    language_id: languageId,
                    visible_driver_code: visibleDriverCode,
                    complete_driver_code: completeDriverCode,
                    show_complete_code: showCompleteCode

                },
                success: function (response) {
                    if (response.success) {
                        // Show the success message
                        console.log("Success: ", response.message);
                        alert(response.message); // Or you can display it in a dedicated message div

                        // Optionally update the editor with the new driver code
                        editorVisible.setValue(visibleDriverCode, -1);  // This will set the editor content to the new visible driver code
                        editorComplete.setValue(completeDriverCode, -1);  // This will set the editor content to the new complete driver code
                    } else {
                        // Show the error message
                        console.log("Error: ", response.message);
                        alert(response.message); // Or you can display it in a dedicated message div
                    }
                    isSubmitting = false; // Reset the flag after completion
                    submitBtn.disabled = false; // Enable the submit button
                    submitBtn.innerHTML = "Submit Driver Code"; // Reset the submit button text
                },
                error: function (xhr, status, error) {
                    console.log("Error: ", error);
                    isSubmitting = false; // Reset the flag on error
                }
            });

            return false;  // Ensure the form does not get submitted normally
        });
    });

</script>


{% endblock %}