{% extends "administration/base.html" %}
{% load static %}

{% block title %}
{{ batch.name }} | Enrollment Requests
{% endblock %}

{% block my_batches_active %}
active
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3 class="heading">
                <h3 class="heading">
                    <span class="fw-semibold">
                        &nbsp;Pending Requests: ({{ total_pending_requests }})
                    </span>
                    <a href="{% url 'approve_all_enrollments_batch' batch.id %}" class="btn btn-success btn-lg">
                        Approve All
                    </a>
                </h3>
            </h3>
        </div>
    </div>


    {% for message in messages %}

    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message.tag }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    <!-- create a search bar -->

    <div class="card w-100">
        <div class="card-body p-4">
            <!-- <h5 class="card-title fw-semibold mb-4">Search Applicants 🔍</h5> -->
            <form method="post">

                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by ID, Name, Email or Phone Number"
                        aria-label="Search by ID, Name, Email or Phone Number" aria-describedby="button-addon2"
                        name="query">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    <!-- make a button to clear the search -->
                    <a href="#" class="btn btn-outline-danger">Clear</a>
                </div>
            </form>
        </div>
    </div>

    <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Pending Requests 🔥
                {% if query %}
                <span class="fs-6"> | Search Results for "{{ query }}"</span>
                {% endif %}
            </h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">

                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    #
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Name
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Status
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Date
                                </h6>
                            </th>

                            <th class="border-bottom-0 justify-content-center">
                                <h6 class="fw-semibold mb-0">
                                    Action#1
                                </h6>
                            </th>
                            <th class="border-bottom-0 justify-content-center">
                                <h6 class="fw-semibold mb-0">
                                    Action#2
                                </h6>
                            </th>

                        </tr>
                    </thead>

                    <tbody id="enrollmentTableBody">



                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!-- ====================================== REJECTED REQUESTS =================================== -->

    <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Rejected Requests 🔥
                {% if query %}
                <span class="fs-6"> | Search Results for "{{ query }}"</span>
                {% endif %}
            </h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">

                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    #
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Name
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Status
                                </h6>
                            </th>

                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">
                                    Date
                                </h6>
                            </th>

                            <th class="border-bottom-0 justify-content-center">
                                <h6 class="fw-semibold mb-0">
                                    Action#1
                                </h6>
                            </th>

                        </tr>
                    </thead>

                    <tbody id="enrollmentRejectedTableBody">



                    </tbody>

                </table>
            </div>
        </div>
    </div>


</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetchPendingEnrollments();
        fetchRejectedEnrollments();
    });

    function fetchPendingEnrollments() {
        fetch("{% url 'administrator_fetch_pending_enrollments_of_batch' batch.slug %}")
            .then(response => response.json())
            .then(data => {
                display_pending_requests(data.data);

            })
            .catch(error => console.error("Error fetching questions:", error));
    }

    function fetchRejectedEnrollments() {
        fetch("{% url 'administrator_fetch_rejected_enrollments_of_batch' batch.slug %}")
            .then(response => response.json())
            .then(data => {
                display_rejected_requests(data.data);

            })
            .catch(error => console.error("Error fetching questions:", error));
    }


    function display_pending_requests(enrollments) {
        const dataTableBody = document.getElementById("enrollmentTableBody");
        dataTableBody.innerHTML = "";  // Clear existing rows

        enrollments.forEach((student, index) => {
            const row = document.createElement("tr");

            row.innerHTML = `
                <td>${index + 1}</td>
                <td>
                    <h6 class="fw-semibold mb-1 text-wrap cursor-pointer">${student.student_name}</h6>
                </td>
               
                <td style="text-align: center;">
                    <span class="badge bg-${student.status_color}">${student.status}</span>
                </td>

                <td style="text-align: center;">
                    <p class="fw-semibold mb-1 text-wrap">${student.request_date}</p>
                </td>
                <td>
                    <button onclick="rejectEnrollment(${student.id}, this)" class="btn btn-outline-danger">Reject</button>
                </td>
                <td>
                    <button onclick="approveEnrollment(${student.id}, this)" class="btn btn-success">Approve</button>
                </td>
                `;

            dataTableBody.appendChild(row);
        });
    }


    function display_rejected_requests(enrollments) {
        const dataTableBody = document.getElementById("enrollmentRejectedTableBody");
        dataTableBody.innerHTML = "";  // Clear existing rows

        enrollments.forEach((student, index) => {
            const row = document.createElement("tr");

            row.innerHTML = `
                <td>${index + 1}</td>
                <td>
                    <h6 class="fw-semibold mb-1 text-wrap cursor-pointer">${student.student_name}</h6>
                </td>
                <td style="text-align: center;">
                    <p class="fw-semibold mb-1 text-wrap">${student.batch_name}</p>
                </td>
               
                <td style="text-align: center;">
                    <span class="badge bg-${student.status_color}">${student.status}</span>
                </td>

                <td style="text-align: center;">
                    <p class="fw-semibold mb-1 text-wrap">${student.request_date}</p>
                </td>
                <td>
                    <button onclick="approveEnrollment(${student.id}, this)" class="btn btn-success">Approve</button>
                </td>
                `;

            dataTableBody.appendChild(row);
        });
    }


    // ================================== APPROVE ENRLLMENT BUTTON ===============================

    function approveEnrollment(id, button) {

        const url = "{% url 'administrator_approve_enrollment_batch' 0 %}?id=".replace("0", id);

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the row from the table or update the status
                    const row = button.closest('tr');
                    row.remove();
                    
                } else {
                    alert('Failed to approve the enrollment request: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Something went wrong!');
            });
    }


    // ================================== REJECT ENRLLMENT BUTTON ===============================

    function rejectEnrollment(id, button) {
        if (!confirm('Are you sure you want to REJECT the request?')) {
            return;
        }

        const url = "{% url 'administrator_reject_enrollment_batch' 0 %}?id=".replace("0", id);

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the row from the table or update the status
                    const row = button.closest('tr');
                    row.remove();
                    alert('Enrollment request rejected successfully!');
                } else {
                    alert('Failed to reject the enrollment request: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Something went wrong!');
            });
    }
</script>



{% endblock %}