{% extends 'administration/base.html' %}

{% block title %}Feedbacks{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-4 text-center">Feedbacks</h1>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        ID
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Student
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Subject
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Message
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        Time
                                    </h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedbacks %}
                            <tr>
                                <td class="border-bottom-0">
                                    <p class="fw-semibold mb-0">
                                        {{ feedback.id }}
                                    </p>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="fw-semibold mb-0">
                                        {{ feedback.student }}
                                    </p>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="fw-semibold mb-0">
                                        {{ feedback.subject }}
                                    </p>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="fw-semibold mb-0">
                                        {{ feedback.message }}
                                    </p>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="fw-semibold mb-0">
                                        {{ feedback.timeStamp }}
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}